

body{
	margin:0;
	color:#444;
	background:#9d9d9d;
	font:300 18px/18px Roboto, sans-serif;
	
	
}
.credit-card-wrap{
	top:25%;
	left: 10%;
	width:450px;
	height:250px;
	position:fixed;
	border-radius:20px;
	background-image: linear-gradient(to right,#7b2cbf , #fc9e4f);
	/* margin-left:-225px; */
	/* margin-top:-142.5px; */
	position: relative;

}
.credit-card-wrap .mk-icon-world-map{
	/* top:0;
	left:0;
	right:0;
	bottom:0; */
	/* width:100%; */
	height:100%;
	overflow:hidden;
	position:absolute;
	border-radius:inherit;
}
.credit-card-wrap .mk-icon-world-map:before{
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:0;
	background:rgba(0,0,0,.4);
	
	background-size: 20px 20px;
}
.credit-card-wrap .credit-card-inner{
	z-index:100;
	padding:30px;
	width:inherit;
	height:inherit;
	position:relative;
}
.credit-card-wrap .credit-logo .text{
	font-size:15px;
	font-weight:500;
	margin-left:10px;
	text-transform:uppercase;
	color:rgba(255,255,255,.8);
}
.credit-card-wrap .credit-logo .shape{
	width:40px;
	height:40px;
	display:inline-block;
	background-color:#dc143c;
	box-shadow:-2px 2px 0 rgba(255,255,255,.8);
	border-radius:40px 0 40px 40px;
	transform:rotate(-45deg);
}
.credit-card-wrap .credit-logo .shape>.txt{
	color:#ccc;
	display:block;
	width:inherit;
	font-size:14px;
	height:inherit;
	font-weight:500;
	line-height:40px;
	text-align:center;
	transform:rotate(45deg);
}
.credit-card-wrap .credit-font{
	color:#fff;
	font-size:18px;
	font-family:ocr_a_std,sans-serif;
	text-shadow:-1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
}
.credit-card-wrap .credit-card-number{
	font-size:20px;
	text-align:center;
	position:relative;
	letter-spacing:2px;
	margin-bottom:20px;
	white-space:nowrap;
}
.credit-card-wrap .credit-card-number:before{
	top:100%;
	font-size:12px;
	font-family:Roboto;
	content:attr(data-text);
	
}
.credit-card-wrap .credit-card-date{
	color:#fff;
	text-align:center;
	position: relative;
}
.credit-card-wrap .credit-card-date .title{
	position: absolute;
	width:50px;
	color:white;
	font-size:15px;
	line-height:10px;
	font-weight: bold;
	text-align:left;
	display:inline-block;
	text-transform:uppercase;
	right:-20px;
	top: 25px;
}
.credit-card-wrap .credit-card-date .credit-font{           
	bottom:-40px;
	right:-90px;
	position:absolute;
	font-weight: bold;
}
.credit-card-wrap .credit-author{
	padding-top:10px;
}
.credit-card-wrap .mk-icon-sim{
	width:55px;
	height:40px;
	margin:20px 0;
	border-radius:8px;
	background-color:#fdd76f;
}
.credit-card-wrap .mk-icon-visa{
	width:90px;
	height:45px;
	bottom:-10px;
	position:relative;
}
.credit-card-wrap .footer{
	left:30px;
	right:30px;
	bottom:30px;
	position:absolute;
}
.credit-card-wrap .footer .pull-left{
	position: relative;
	width:70%;
}
.cvv{
	position: relative;


}
.maincvv{
	position: absolute;
	right:20px;
	bottom: 10px;
	color:white;
	font-weight: bold;
}
.lineBar{
	height: 100px;
	width:400px;
	mix-blend-mode: multiply;
	
}